@{
	ViewBag.Title = Resources.ForgotPasswordConfirmation;
}

<div class="container">
	<hgroup class="title">
		<h1>@ViewBag.Title.</h1>
	</hgroup>
	<div>
		<p>
			Please check your email to reset your password.
		</p>
		@Html.ActionLink(Resources.LogIn, "Login", "Account")
	</div>
</div>