@{
	ViewBag.Title = Resources.ResetPasswordConfirmation;
}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>@ViewBag.Title.</h2>
			<hr />
			<p>
				Your password has been reset. Please @Html.ActionLink(Resources.LogIn, "Login", "Account")
			</p>
		</div>
	</div>
</div>