@*<div class="form-group">
	<div class="col-md-12">
		<div uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
			{{alert.message}}
		</div>
	</div>
</div>*@
<div uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
	{{alert.message}}
</div>
