<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		<button type="submit" class="btn btn-primary">@Resources.Save</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">@Resources.Cancel</button>
	</div>
</div>
