@{
	ViewBag.Title = Resources.NotFound;
}

<div class="container container-bordered small">
	<div class="text-center">
		<p><i class="icon-warning-sign big-icon"></i></p>
		<h2>@ViewBag.Title</h2>

		<p class="lead">@Resources.NotFoundDescription</p>
	</div>
</div>