@model Exception
@{
	ViewBag.Title = Resources.InternalServerError;
	var exception = Model;
	int depth = 0;
}

<div class="container container-bordered">

	<div>
		<p class="text-center"><i class="fa fa-remove big-icon"></i></p>
		<h2>@ViewBag.Title</h2>
		@while (exception != null)
		{
			if (depth > 0)
			{
				<h3>Inner Exception</h3>
			}
			<p class="lead text-center">@exception.Message</p>
			<p><pre>@exception.StackTrace</pre></p>
	  
			exception = exception.InnerException;
			depth++;
		}
	</div>
</div>