@{
	ViewBag.Title = Resources.Forbidden;
}

<div class="container container-bordered small">
	<div class="text-center">
		<p><i class="icon-ban-circle big-icon"></i></p>
		<h2>@ViewBag.Title</h2>

		<p class="lead">@Resources.FobiddenDescription</p>
	</div>
</div>